*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "open sans";
}
html,body {
    height: 100%;
}

@font-face {
    font-family: "open sans";
    src: url('../fonts/OpenSans-Light.ttf');
}

.center {
    width: calc(100% - 30px);
    margin: 0 auto;
    padding: 0 2%;
}

.header {
    min-width: calc(100% - 30px);
    width: 100%;
    height: 60px;
    background-color: #212343;
}

.header img {
    margin: 19px;
}

.container-banner {
    min-width: calc(100% - 30px);
    width: 100%;
    height: 557px;
    background-image: url('../img/header_bg.png');
    background-size: cover;
    background-position: center;
}

.form {
    padding: 10px;
    width: 400px;
    height: calc(100% + 30px);
    background-color: white;
    position: relative;
    top: -15px;
    border: 8px solid rgba(120, 120, 120, 0.5);
    background-clip: padding-box;
    float: right;
    margin-right: 180px;
}

.form h2 {
    font-weight: normal;
    color: #999;
    font-size: 21px;
}

.container-banner > .center {
    height: 100%;
}

.input-cotainer {
    margin-top: 20px;
}

.input-cotainer span, .form p {
    display: inline-block;
    width: 100%;
    color: #BBB;
    font-size: 17px;
    font-weight: bold;
}

.form p {
    margin: 28px 0;
}

.input-cotainer input { 
    margin-top: 8px;
    outline: none;
    width: 344px;
    height: 55px;
    border: 1px solid #ccc;

}

.submit {
    text-align: center;
}

.form input[type=submit] {
    
    color: white;
    font-size: 25px;
    width: 280px;
    height: 56px;
    display: inline-block;
    background-color: #363a6d;
    /* border-top: 0;
    border-left: 0;
    border-right: 0; */
    border: none;
    border-bottom: 5px solid #4a5097;
    cursor: pointer;
}

.form input[type=submit]:hover {
    background-color: #323665;
}

.container-list {
    padding: 20px;
    float: left;
    width: 650px;
    height: calc(270px * 1.5);
    background-color: rgba(33, 35, 67, 0.7);
    border-radius: 10px;
    margin-top: 85px;
    margin-left: 100px;
    border: 1px solid purple;
}

.container-list ul {
    list-style-position: inside;
    color: white;
}

.container-list ul li {
    margin-top: 18px;
}

.container-conteudo {
    min-width: calc(100% - 30px);
    padding: 40px 0;
    background-color: #ddd;
    text-align: center;
}

.container-conteudo h2 {
    font-weight: normal;
}

.container-conteudo p {
    width:65%;
    display: inline-block;
    text-align: justify;
    margin: 15px 0;
}

.arrow {
    width: 40px;
    height: 40px;
    background-image: url('../img/arrow.png');
    background-size: 100% 100%;
    position: relative;
    left: calc(50% - 20px);
    top: 60px;
}

.section-1 {
    padding: 90px 0;
}

.section-1 h2 {
    text-align: center;
    color: #462663;
    font-weight: normal;
}

.container-section {
    text-align: center;
    margin: 0 auto;
}

.container-section {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.text-container-single {
    text-align: justify;
    padding: 0 50px;
}

.text-container-single h2{
    margin: 0 0 20px 0;
}

.footer {
    padding: 20px 0;
    border-top: 4px solid #888;
    text-align: center;
    color: #888;
}

.footer p {
    margin-top: 8px;
}

.footer p a {
    text-decoration: none;
}